* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    text-align: center;
    background-color: blue;
    padding: 30px;
}


.todaydisplay {
    border: 5px solid black;
}

.fiveday {
    border: 5px solid black;
}

li {
    list-style-type: none;
    font-size: 20px;
}

.weather-icon {
    width: 35%;
    display: flex;
    justify-content: center;
}

button {
    border-radius: 25px;
}